{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", "tab"],
    "no-tabs": "off",
    "comma-dangle": ["error", "never"],
    "no-shadow": "off",
    "no-param-reassign": "off",
    "space-before-function-paren": ["error", "never"],
    "arrow-parens": "off",
    "no-confusing-arrow": ["error", { "allowParens": true }],
    "no-continue": "off",
    "no-plusplus": "off",

    "import/no-extraneous-dependencies": ["off", { "devDependencies": true }],
    "import/extensions": ["error", "always", { "js": "never", "jsx": "never" }],
    "import/prefer-default-export": "off",
    "react/no-unused-prop-types": ["error", { "skipShapeProps": true }],
  }
}
